<body>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Real Estate Finder</h1>
      <h2>"Your best investment opportunity won’t fit into a safety deposit box, but you can live in it"</h2>
    </div>
  </div>

  <div class="review">

    <h2>Our Customer Reviews</h2>

  </div>
  <!-- review slider -->

  <div id="carousel-example" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <a href="#">
          <img src="../assets/images/image2.jpg" />
        </a>
        <div class="carousel-caption">
          <h1>Veena</h1>
          <br/>
          <p>"FindAPlace really knocked it outof the ballpar,selling our house above theasking price.The commission savings
            was just an added bonus."</p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img src="../assets/images/image3.jpg" />
        </a>
        <div class="carousel-caption">
          <h1>Kwamin and Alissa</h1>
          <br/>
          <p>"The entire team working with him so someone wasalways available when we needed them.I can't imagine buying a home
            any other way."</p>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img src="../assets/images/image5.jpg" />
        </a>
        <div class="carousel-caption">
          <h1>Jessica</h1>
          <br/>
          <p>"It was great to have worked with this team.It could not have been more easier for me to find a place this easily.I
            can't imagine buying a home any other way."</p>
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <app-footer></app-footer>
</body>