<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          RealEstateFinder
          <!-- <img src="b7f8b413-e120-49a2-ba4c-9666eb7b8f39.png"/> -->
        <!-- <a class="navbar-brand" href="#">FindYourHouse.com</a> -->
      </div>
      <a [routerLink]="['mainpage']">Home</a>
      <a [routerLink]="['signup']"><span class="glyphicon glyphicon-user"></span>Signup</a>
      <a [routerLink]="['logout']">Logout</a>
      <a [routerLink]="['signin']"><span class="glyphicon glyphicon-log-in"></span> Login</a>
    </div>
  </nav>
  

